


body,html{
    margin:0;
    padding:0;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100vh;
}
body{
  background: rgba(245, 140, 19, 0.904);
  background-size:cover;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif';
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}


svg{
    font-weight:bold;
    max-width:600px;
    height:100%;
}